/* ------------ reset CSS ------------ */

* {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
  transition: background-color 0.2s ease;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  font-family: "Roboto", serif;
}

:root {
  --color-correct: #43a047;
  --color-present: #e4a81d;
  --color-absent: #757575;
  --color-error: #bb3429;
  --key-bg: #e2e8f0;
  --key-absent: #757575;
  --photera: #d13e3e;
  --photera-yellow: #e1bd3b;
  --timeline-bg: #252339;

  --white: #fefefe;
  --black: #eee;
  --light-blue: rgb(128, 207, 233);

  --background: #fefefe;
  --overlat-background: #fefefe;
  --border-color: rgb(215, 215, 215);
}

/* ------------------- Basic --------------------- */

.dark-mode {
  --key-bg: #686868; /* Darker gray for key background */
  --black: #282c34; /* Slightly lighter gray for black */
  --light-blue: #007bff; /* Standard dark mode blue */
  --timeline-bg: #f3f3ff;

  --overlat-background: #212121;
  --background: #1b1b1b; /* Dark gray for background */
  --border-color: #444; /* Darker gray for border */
}

body {
  font-size: 1.6rem;

  background-color: var(--background);

  color: var(--timeline-bg);

  overflow-x: hidden;

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;

  padding: 1rem 0;
}

.title {
  text-align: center;
  position: relative;
  user-select: none;
}

.main {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}

/* ------------ Grid ------------ */

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-bottom: 2rem;

  flex-grow: 1;
  align-self: center;
}

.grid__row {
  display: flex;

  gap: 0.5rem;
}

.grid__row--shake {
  animation: shake 0.15s 2;
}

@keyframes shake {
  0% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(1%);
  }
}
.grid__row--active .grid__cell {
  cursor: pointer;
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;

  width: 55px;
  aspect-ratio: 1 /1;

  background-color: var(--background);
  border: 2px solid var(--border-color);

  border-radius: 2px;

  user-select: none;
}

.grid__cell--correct {
  background-color: var(--color-correct);
  border: 2px solid var(--color-correct);

  color: var(--white);
}

.grid__cell--present {
  background-color: var(--color-present);
  border: 2px solid var(--color-present);

  color: var(--white);
}

.grid__cell--absent {
  background-color: var(--color-absent);
  border: 2px solid var(--color-absent);

  color: var(--white);
}

.grid__cell--correct,
.grid__cell--present,
.grid__cell--absent {
  animation: rotation 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes bounce {
  0%,
  20% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: scale(1.05);
  }
  80%,
  100% {
    transform: scale(1);
  }
}

.grid__cell--full {
  border: 3px solid var(--border-color);

  animation: bounce 0.2s 0s;
}

.grid__cursor {
  border: 3px solid var(--light-blue);
}

/* ------------ Keyboard ------------ */

.keyboard {
  display: flex;
  flex-direction: column;

  gap: 0.5vw;

  width: 100%;
  max-width: 600px;

  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.keyboard__row {
  width: 100%;

  display: flex;
  gap: 0.5vw;
}

.keyboard__key {
  display: block;

  flex: 1 9%;
  height: 60px;

  background-color: var(--key-bg);

  font-size: 2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  cursor: pointer;
  user-select: none;

  transition: transform 0.04s ease-out;
}

.keyboard__key:hover {
  filter: brightness(0.95);
}

.keyboard__key:active {
  transform: translateY(0.1rem);
}

.keyboard__key#enter,
.keyboard__key#delete {
  flex: 2 18%;
}

/* ------------ error ------------ */

.error {
  position: absolute;
  top: 4rem;
  left: 50%;

  text-transform: capitalize;

  padding: 0.2rem 2rem;
  border: 3px solid var(--border-color);
  background-color: var(--border-color);
  border-radius: 0.5rem;

  transform: translateX(-50%);

  animation: aperance 2s 0s forwards;
}

@keyframes aperance {
  0% {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  10%,
  60% {
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

  80% {
    transform: translateX(80%);
    opacity: 0;
  }
  100% {
    transform: translateX(80%);
    opacity: 0;
  }
}

/* ------------- overlay ------------ */

.overlay {
  display: none;
  opacity: 0;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);

  z-index: 900;

  transition: opacity 0.3s ease;
  transition-delay: 0.5s;
}

.result {
  display: none;

  position: absolute;

  height: 95vh;

  top: 1rem;
  left: 50%;

  transform: translateX(-50%);

  overflow: hidden;
  overflow-y: scroll;

  z-index: 910;

  width: 95%;
  max-width: 500px;
  max-height: 70rem;
  padding: 2rem 0.5rem;

  padding-top: 2rem;

  background-color: var(--overlat-background);
  box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  transition: opacity 0.3s ease;
  transition-delay: 0.5s;
}

.result::-webkit-scrollbar {
  display: none;
  width: 0px; /* Oculta la barra */
}

.overlay--show {
  display: flex;
  animation: showUp 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.overlay--show .result {
  display: flex;
  animation: popUp 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes popUp {
  0% {
    opacity: 0;
    top: 50%;
    transform: translateY(-150%) translateX(-50%);
  }

  100% {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.result__title {
  font-size: 4rem;
}

.result__text {
  margin-top: 2rem;
  font-size: 2rem;
}

.result__word {
  color: var(--white);

  background-color: var(--color-correct);

  width: 17rem;

  margin-top: 1.5rem;
  padding: 0.8rem;

  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  border-radius: 1rem;
}

.result__restart {
  padding: 1rem 1.8rem;

  background-color: var(--color-correct);
  outline: none;
  border: 1px solid var(--color-correct);
  border-radius: 0.2rem;

  box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);

  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.title__stats {
  font-size: 3rem;

  margin-top: 2rem;
}

.stats__container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */

  margin-top: 2rem;
  gap: 3rem;
}

.stats__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 25%;
}

.stats__number {
  font-size: 4rem;
}

.stats__desc {
  flex: 3rem;
  justify-self: center;
}

.title__distribution {
  font-size: 2rem;
}

.distribution__container {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  text-align: left;

  gap: 0.5rem;
  color: var(--timeline-bg);
}

.distribution__row {
  display: flex;
}

.distribution__number {
  display: inline-block;

  width: 2rem;
  min-width: 2rem;

  font-size: 1.5rem;
  font-weight: bold;

  align-self: center;
}

.distribution__bar {
  display: inline-block;

  width: 17%;
  height: 2.5rem;
  background-color: #428bca;
  color: var(--white);

  align-self: center;

  text-align: center;
  font-weight: bold;
  font-size: 2rem;

  user-select: none;
}

.distribution__bar--current {
  background-color: var(--color-correct);
}

/* ------------- dark mode ------------ */

.dark__mode {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: 55%;
  transform: translateY(-50%);
  right: -6rem;

  cursor: pointer;
  user-select: none;
}

.disable {
  display: none;
}

/* ------------- media ------------ */

@media screen and (max-width: 400px) {
  .stats__container {
    flex-wrap: wrap;
  }

  .stats__element {
    flex: 30%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    position: static;
  }

  .title span {
    font-size: 0;
    display: block;

    overflow-x: hidden;
  }

  .dark__mode {
    position: absolute;

    top: 3rem;
    right: 2rem;

    z-index: 1;

    /* transform: translateX(-50%); */
  }
}
